/*
  GENERAL
*/

html, body{
  font-size: 16px;
  color:#000;
}

h1,h2{
  color:#000;
}

hr {
  border:none;
  height: 20px;
 	width: 50%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid grey;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

a {
  text-decoration: none;
  color:#fff;
}

a:hover {
  text-decoration: none;
  color:#fff;
  background-color: rgba(0, 255, 178, 0.7);
}

.navbar, .navbar-default {
background-color: #000;
height:70px;
}

.navbar-brand{
  margin-top: 0px;
  height:70px;
}

.navbar-default .navbar-text{
  color: #fff;
  font-size: 1.1em;
}

/*
  FB AUTH
*/
.fbPic {
  border-radius: 50%;
}

.greet{
  margin-top:10px;
}

.logBtn {
display: flex;
cursor: pointer;
align-items: center;
height: 30px;
font-size: 0.9em;
margin-top: 20px;
padding: 0 30px;
color: #fff;
border: 1px solid #fff;
}

/*
  MAIN PAGE ANIMATION
*/

@keyframes fadeIn {
  0% {
    position: absolute;
    top: 10%;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    top: 25%;
  }
}

.intro {
  position: absolute;
  top: 5em;
  opacity: 0;
  animation: fadeIn 4s ease-in-out 1s;
  animation-fill-mode: forwards;
  color: #000;
}

/*
  GALLERY PAGE
*/

.thumbnail {
  height: 350px;
  width:280px;
  margin-left: 12px;
  margin-bottom: 10px;
}

.thumbnail img {
  border:2px solid grey;
  box-sizing: border-box;
  border-radius: 5px;
  min-height:230px;
  height:250px;
  width:240px;
  margin-bottom: -15px;
  margin-top:30px;
}

.item {
    margin-top: 10px;
    margin-bottom: 30px;
}

/*
  STOP WATCH
*/

.timerUnit {
  font-size:4.5em;
}
.even {
	color: red;
}
.odd {
	color: green;
}
