html, body{
  font-size: 16px;
}

.navbar, .navbar-default{
  background-color: #000;
}

@keyframes fadeIn {
  0% {
    position: absolute;
    top: 10%;
    opacity: 0;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    top: 25%;
  }
}

.intro {
  font-size: 8.4em;
  position: absolute;
  top: 5em;
  opacity: 0;
  animation: fadeIn 4s ease-in-out 1s;
  animation-fill-mode: forwards;
  color: #000;
}

hr {
  border:none;
  height: 20px;
 	width: 50%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid grey;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
